html {
  color: #ddd;
  font-size: 1em;
  line-height: 1.4;
  text-align: center;
  background: #222;
}

div.price-box {
  color: #222;
  border: 1px #999 solid;
  min-height: 1.4em;
  width: 7em;
  margin: 0 auto;
  border-radius: 0.5em;
  background: #ddd;
}

div.live-price {
  font-size: 30pt;
}

div.exchange-prices {
  margin: 2em auto;
  max-width: 50em;
}

div.wrapper {
  display: flex;
}

div.wrapper>div.column {
  flex: 16.6%
}